.App {
  max-width: 860px;
  margin: 10px auto ;
}
.App h1 {
  position: relative;
  bottom: 20px;
}
button {
  position: relative;
  bottom: 25px;
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}
button:hover {
  background: #c23866;
  color: #fff;
}